

.heading-styled {

  display: inline-block;
  background-image: url('./resourse/centerpaint.svg');
  background-repeat: repeat-x;
  background-position: center center;
 
  z-index: 1;
}

.heading-styled::before,
.heading-styled::after {
  content: '';
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

.heading-styled::before {
  left: -10px;
  background-image: url('./resourse/leftpaint.svg'); 
}

.heading-styled::after {
  right: -25px;
  background-image: url('./resourse/rightpaint.svg'); 
}
