@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional global styles */


body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
background-image: url('./pages/home/resources/Shadowbody.svg');

}


ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.slick-dots li button:before {
font-size: 20px; 
}

.transparenbody{
  background: transparent !important;
} 